
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-form-field-subscript-wrapper {
    height: 0px;
}
/* 
.mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
    padding-left: 0;
    --mat-mdc-form-field-label-offset-x: -16px;
    border-radius: 100px 0px 0 100px;
}
.mat-h2, .mat-headline-6, .mat-typography .mat-h2, .mat-typography .mat-headline-6, .mat-typography h2 {
    font-size: 40px;
    position: absolute;
    left: 142px;
    margin-top: 30px;
} */